@import '../../styles.scss';

.declarationType-example-form {
  min-width: 50px;
  max-width: 50px;
  width: 50%;
}

.declarationType-full-width {
  width: 50%;
  font-size: 12px;
}

.states-example-form {
  min-width: 90px;
  max-width: 90px;
  width: 90%;
}

.states-full-width {
  width: 90%;
  font-size: 12px;
}

